<div>
    <!-- Card stats -->
    <div class="flex flex-wrap">
        <Card FromDate="Since last month" Percentage="3,48%" Title="Traffic" Value="350,897" IsNegative="" Icon="far fa-chart-bar" IconColor="bg-red-500" />
        <Card FromDate="Since last week" Percentage="3,48%" Title="New users" Value="2,356" IsNegative="red" Icon="fas fa-chart-pie" IconColor="bg-orange-500" />
        <Card FromDate="Since last yesterday" Percentage="1,10%" Title="Sales" Value="924" IsNegative="orange" Icon="fas fa-users" IconColor="bg-pink-500" />
        <Card FromDate="Since last month" Percentage="12%" Title="Performance" Value="350,897" IsNegative="" Icon="fas fa-percent" IconColor="bg-lightBlue-500" />
    </div>
</div>

@code {

}
