<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
	<div class="rounded-t mb-0 px-4 py-3 bg-transparent">
		<div class="flex flex-wrap items-center">
			<div class="relative w-full max-w-full flex-grow flex-1">
				<h6 class="uppercase text-blueGray-400 mb-1 text-xs font-semibold">
					Performance
				</h6>
				<h2 class="text-blueGray-700 text-xl font-semibold">
					Total orders
				</h2>
			</div>
		</div>
	</div>
	<div class="p-4 flex-auto">	
		<div class="relative" style="height:350px">
			@*   <canvas id="bar-chart"></canvas>*@
			<ChartJs Id="performance" Config="@config"></ChartJs>

		</div>
	</div>

</div>


@code {
	
	object config = new
	{
		Type = "bar",
		Options = new
		{
			maintainAspectRatio = false,
			responsive = true,
			title = new
			{
				display = false,
				text = "Orders Chart"
			},
			tooltips =
				new
				{
					mode = "index",
					intersect = false
				},
			hover = new
			{
				mode = "nearest",
				intersect = true
			},
			legend = new
			{
				labels = new
				{
					fontColor = "rgba(0,0,0,.4)"
				},
				align = "end",
				position = "bottom"

			},
			scales = new
			{
				xAxes = new
				{
					display = false,
					scaleLabel = new
					{
						display = true,
						labelString = "Month"
					},
					gridLines = new
					{

						borderDash = new[] { 2 },
						borderDashOffset = new[] { 2 },
						color = "rgba(33, 37, 41, 0.3)",
						zeroLineColor = "rgba(33, 37, 41, 0.3)",
						zeroLineBorderDash = new[] { 2 },
						zeroLineBorderDashOffset = new[] { 2 }
					}
				},
				yAxes = new
				{
					display = true,
					scaleLabel = new
					{
						display = false,
						labelString = "Value"
					},
					gridLines = new
					{

						borderDash = new[] { 2 },
						borderDashOffset = new[] { 2 },
						color = "rgba(33, 37, 41, 0.2)",
						zeroLineColor = "rgba(33, 37, 41, 0.15)",
						zeroLineBorderDash = new[] { 2 },
						zeroLineBorderDashOffset = new[] { 2 }
					}
				}
			}
		},
		data = new
		{
			datasets = new[]
				{
					new
					{
					label =  DateTime.Now.Year,
					backgroundColor = "#ed64a6",
					borderColor= "#ed64a6",
					data= new[] {30, 78, 56, 34, 100, 45, 13 },
					fill= false,
					barThickness= 8 },
					new {
					label =  DateTime.Now.Year-1,
					backgroundColor = "#4c51bf",
					borderColor= "#4c51bf",
					data= new[] {27, 68, 86, 74, 10, 4, 87 },
					fill= false,
					barThickness= 8}
	},
			labels = new[] { "January", "February", "March", "April", "May", "June", "July" }

		},
		
	};


}

